<div class="container">
  <div class="card-listar">

    <div class="ui-g">
      <div class="ui-g-12 ui-fluid">
        <h1 class="ui-g-8">Editais</h1>
        <div class="ui-g-4">
          <button class="btn" style="float: right; margin-top: 40px" pTooltip="Novo aluno" routerLink="/editais/novo">
            <i aria-hidden="true" class="fa fa-plus"></i>
            Novo
          </button>
        </div>
      </div>
      <div class="ui-g-6 ui-fluid">
        <span class="ui-float-label">
          <input id="float-input" type="text" pInputText name="numero" [(ngModel)]="filtro.numero">
          <label for="float-input">Número</label>
        </span>
      </div>
      <div class="ui-g-12">
        <p-dataTable [value]="editais" [responsive]="true" emptyMessage="Nenhum edital encontrado" [paginator]="true"
          [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
          #tabela>

          <p-column field="numero" header="Número"></p-column>
          <p-column field="dataInicio" header="Data de início">
            <ng-template let-edt="rowData" pTemplate="body">
              <span>{{ edt.dataInicio | date:'dd/MM/yyyy' }}</span>
            </ng-template>
          </p-column>
          <p-column field="dataTermino" header="Data de termino">
            <ng-template let-edt="rowData" pTemplate="body">
              <span>{{ edt.dataTermino | date:'dd/MM/yyyy' }}</span>
            </ng-template>
          </p-column>
          <p-column header="Status">
            <ng-template let-edt="rowData" pTemplate="body">
              <span [style.color]="edt.vigente ? '#20B2AA' : '#CD0000'">{{edt.vigente ? 'Ativo' : 'Inativo'}}</span>
            </ng-template>
          </p-column>
          <p-column>
            <ng-template let-edt="rowData" pTemplate="body">
              <button class="btn" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/editais', edt.codigo]">
                <i aria-hidden="true" class="fa fa-pencil"></i>
              </button>

              <button class="btn" [style.display]="edt.vigente ? 'inline' : 'none'" pTooltip="Inativar edital"
                tooltipPosition="top" (click)="confirmarInatividade(edt)">
                <i aria-hidden="true" class="fa fa-chevron-down"></i>
              </button>

              <button class="btn" [style.display]="!edt.vigente ? 'inline' : 'none'" pTooltip="Reativar edital"
                tooltipPosition="top" (click)="reativarEdital(edt)">
                <i aria-hidden="true" class="fa fa-chevron-up"></i>
              </button>
            </ng-template>
          </p-column>

        </p-dataTable>
      </div>

    </div>

  </div>

</div>