<nav class="navbar">
      <div class="ui-g">
        <div class="ui-g-12">
            <a class="btn" type="button" style="text-decoration: none"
            routerLinkActive="ativo" routerLink="/editais">
              <i aria-hidden="true" class="fa fa-clipboard"></i>
              Editais
            </a>
            <a class="btn" type="button" style="text-decoration: none"
            routerLinkActive="ativo" routerLink="/alunos">
              <i aria-hidden="true" class="fa fa-graduation-cap"></i>
              Alunos
            </a>
            <a class="btn" type="button" style="text-decoration: none"
            routerLinkActive="ativo" routerLink="/refeicoes">
              <i aria-hidden="true" class="fas fa-cookie"></i>
              Refeições
            </a>
            <a class="btn" type="button" style="text-decoration: none"
            routerLinkActive="ativo" routerLink="/funcionarios">
              <i aria-hidden="true" class="fa fa-user"></i>
              Funcionários
            </a>
            <a class="btn-sair" type="button" style="text-decoration: none"
            routerLinkActive="ativo">
            Sair
              <i aria-hidden="true" class="fa fa-sign-out"></i>
            </a>
            <a class="btn-sair" type="button" style="text-decoration: none"
            routerLinkActive="ativo">
            <i aria-hidden="true" class="fa fa-user-circle"></i>
            Minha conta
            </a>
        </div>
      </div>
  </nav>
